!!!
%html
  %head
    %title Img4ye采集插件background
    %meta{:charset => "utf-8"}
  %body
    %script{:src => "base.js"}
    %script{:src => "deps.js"}
    %script{:src => "background.js"}
    %script{:src => "content_menus.js"}
