!!!
%html
  %head
    %title Img4ye 图片修改工具
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "edit.css"}
  %body.collect-4ye
    .loading{:style => 'display:none;'}
      .icon
      .info

    .actions
      -#%button.save 保存到本地
      %button.upload 上传
    .success{style: "display:none;"}

    -#.auth{:style => 'display:none;'}
      -#%a.signin{:href => 'http://done-list.local.realityandapp.com:3000', :target => '_blank'}
        -#%span 点这里登录，然后才能收集网址

    .image{style: "cursor: crosshair; width: 1200px; height: 2019px;"}

    .hidden

    %script{:src => "base.js"}
    %script{:src => "deps.js"}
    -#%script{:src => "plupload.full.min.js"}
    -#%script{:src => "popup.js"}
    -#%script{:src => "capturer.js"}
    %script{:src => "uploader.js"}
    %script{:src => "edit.js"}

