!!!
%html
  %head
    %title 4ye Collect Auth
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "main.css"}
  %body.collect-4ye
    .loading{:style => 'display:none;'}
      .icon
      .info

    .logo
      %a{:href => 'http://img.4ye.me', :target => '_blank'}
        %span.a 4ye
        %span.b Collector

    .user-info{:style => 'display:none;'}
      .avatar
      .name

    .auth{:style => 'display:none;'}
      %a.signin{:href => 'http://img.4ye.me', :target => '_blank'}
        %span 点这里登录，然后才能收集网址


    .upload_info{:style => 'display:none;'}
      .text 请选择截图的方式:

      .actions
        %button.fullpage 全页
        %button.viewport 可视区域
        %button.selection 选区

      .hidden

    %script{:src => "base.js"}
    %script{:src => "deps.js"}
    %script{:src => "popup.js"}
    %script{:src => "fullpage.js"}
