!!!
%html
  %head
    %title img4ye screenshot
    %meta{:charset => "utf-8"}
  %body.img4ye-screenshot
    image:
    %p
      %img#target{ src: 'white.png'}
    end

    %script{:src => "screenshot.js"}
